IndentWidth: 4
Language: Cpp
BinPackParameters: false
Cpp11BracedListStyle: true
Standard: Cpp11
UseTab: Never
AllowShortIfStatementsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Empty
IndentCaseLabels: true
ColumnLimit: 100
AllowAllParametersOfDeclarationOnNextLine: true
AlwaysBreakBeforeMultilineStrings: true
BreakBeforeBraces: Custom
BraceWrapping:
  AfterEnum: true
  AfterStruct: true
  SplitEmptyFunction: false
  SplitEmptyRecord: false
  SplitEmptyNamespace: false 
  AfterControlStatement: true
  AfterFunction: true
  AfterStruct: true
  AfterUnion: true
  AfterExternBlock: true
  BeforeCatch: true
  BeforeElse: true
  AfterNamespace: true

